

![Successful ping tests](screenshots/05-successful-ping-tests.png)
